# ------- IDE ------- #
jupyter

# --------- core ------ #
lightgbm
scikit-learn
tensorflow

# -------- tools ------- #
pandas
tqdm
tensorboard
pandas_profiling

# ------ plot --------- #
matplotlib
seaborn
wordcloud

# ----- nlp ----------- #
nltk

# ----- deploy -------- #
mlflow

# ----- automl -------- #
autogluon

