# ------- IDE ------- #
jupyter

# --------- core ------ #
lightgbm
scikit-learn


# -------- tools ------- #
pandas
tqdm

# ------ plot --------- #
matplotlib
seaborn

# ----- nlp ----------- #
nltk

