# ------- IDE ------- #
jupyter

# --------- core ------ #
lightgbm
scikit-learn


# -------- tools ------- #
pandas
tqdm
tensorboard

# ------ plot --------- #
matplotlib
seaborn
wordcloud

# ----- nlp ----------- #
nltk

# ----- deploy -------- #
mlflow

# ----- automl -------- #
autogluon

